/* Website Defaults */
html {
    height: 100%;
}

body {
    background-color: rgb(0, 21, 49);
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;

}

/* Disable Default Hyperlink Appearance */
a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:link, a:visited {
    text-decoration: none;
}

/* Navigation Bar */
.topnav {
    background-color: rgba(5, 56, 133, 0.5);
    display: block;
    align-content: space-around;
    margin: -10px;
    height: 50px;
    border-bottom: 0px solid rgb(255, 213, 205);
    filter: drop-shadow(0px 0px 4px rgba(1, 1, 33, 0.202));
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.logo img {
    height: 50px;
    padding-top: 4px;
}

/* Page Editors */
.aboutThese {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.testButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.testButtonGlow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(255, 152, 111, 0.75), rgba(255, 197, 111, 0.75), rgba(241, 255, 111, 0.75), rgba(145, 255, 111, 0.75));
    border-radius: 25px;
    background-size: 200% 200%;
    width: 230px;
    height: 25px;
    z-index: -2;
    animation: gradientShift 5s infinite;
}

@keyframes gradientShift {
    0%{background-position:0% 50%}
    33%{background-position:50% 100%}
    67%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.testButtonBlurFilter {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    padding: 15px;
    border-radius: 25px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    z-index: -1;
}

.testButtonBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(255, 152, 111, 0.75), rgba(255, 197, 111, 0.75), rgba(241, 255, 111, 0.75), rgba(145, 255, 111, 0.75));
    background-size: 200% 200%;
    width: 235px;
    height: 45px;
    border-radius: 45px;
    animation: gradientShift 5s infinite;
}

.aboutPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(18, 79, 158, 0.8);
    width: 229px;
    height: 39px;
    border-radius: 25px;
    margin-left: -229.5px;
}

.githubRedirectContainer {
    background-color: rgba(18, 79, 158, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 39px;
    margin-left: 20px;
    border-radius: 25px;
    margin-top: 20px;
}

.githubRedirect {

}

/*
.filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.filterBar {
    display: flex;
    justify-content: center;
    padding-left: 3px;
}

.filter {
    background-color: rgba(30, 93, 175, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    border-radius: 3px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    color: rgb(115, 176, 255)
}
*/

/* Main Menu */
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 156, 238, 0.3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 33%;
    margin-top: 45%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: height 0.3s ease, margin-top 0.3s ease;
}

.textContainerNB {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(118, 238, 118, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    width: 100%;
    height: 33%;
    margin-top: 45%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: height 0.3s ease, margin-top 0.3s ease;
}


.buttonOne {
    background-image: linear-gradient(90deg, rgba(5, 56, 133, 0.5), rgba(18, 79, 158, 0.5)), url('../img/lettergrid.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;

    margin-right: 12.5px;
    margin-bottom: 12.5px;
}

.buttonOne a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buttonTwo {
    background-image: linear-gradient(90deg, rgba(18, 79, 158, 0.5), rgba(51, 119, 209, 0.5)), url('../img/speechtranscriber.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;

    margin-bottom: 12.5px;

    color: rgb(7, 22, 41);
}

.buttonTwo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.buttonThree {
    background-image: linear-gradient(90deg, rgba(5, 56, 133, 0.5), rgba(18, 79, 158, 0.5)), url('../img/participatorymapping.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;

    margin-bottom: 12.5px;

    color: rgb(7, 22, 41);
}

.buttonThree a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.buttonFour {
    background-image: linear-gradient(90deg, rgba(18, 79, 158, 0.5), rgba(51, 119, 209, 0.5)), url(../img/stylus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;

    margin-left: 12.5px;
    margin-bottom: 12.5px;

    color: rgb(7, 22, 41);
}

.buttonFour a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}


.buttonFive {
    background-image: linear-gradient(90deg, rgba(62, 156, 62, 0.5), rgba(68, 177, 68, 0.5)), url('../img/sqlicon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 24px;
    border-radius: 25px;
    text-decoration: none;

    margin-bottom: 12.5px;
    margin-right: 12.5px;

    color: rgb(7, 22, 41);
}

.buttonFive a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}



.buttonSix {
    background-image: linear-gradient(90deg, rgba(68, 177, 68, 0.5), rgba(106, 248, 106, 0.5)), url('../img/sentimentanalysis.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 22px;
    border-radius: 25px;
    text-decoration: none;

    margin-bottom: 12.5px;

    color: rgb(7, 22, 41);
}

.buttonSix a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%
}

.buttonSeven {
    background-image: linear-gradient(90deg, rgba(5, 56, 133, 0.5), rgba(18, 79, 158, 0.5)), url('../img/ambient.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    font-size: 22px;
    border-radius: 25px;
    text-decoration: none;

    margin-right: 12.5px;
    margin-bottom: 12.5px;
}

.buttonSeven a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Inactive Button Design
.buttonFiller {
    background-color: rgba(5, 56, 133, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    font-size: 24px;
    border-radius: 25px;

    color: rgb(7, 22, 41);
}
*/
.attr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 12px;
}

.socials {
    height: 30px;
    margin-top: 25px;
}

.socialsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.github img {
    height: 30px;
    padding-right: 12.5px;
}

.linkedin img {
    height: 30px;
}

@media screen and (max-width: 700px) {

    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .topnav {
        margin: -10px;
        height: 50px;
    }
    
    .logo {
        height: 50px;
    }
    
    .logo img {
        height: 50px;
    }

    .upperOptions {
        flex-direction: column;
    }

    .githubRedirectContainer {
        margin-left: 0px;
        width: 230px;
        margin-bottom: -10px;
    }

    .menu {
        margin-top: 30px;
    }

    .buttonContainer {
        display: flex;
        justify-content: center;
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .buttonOne {
        margin-right: 0px;
        height: 200px;
    }

    .buttonTwo {
        height: 200px;
    }

    .buttonThree {
        margin-right: 0px;
        margin-bottom: 12.5px;
        height: 200px;
    }
    
    .buttonFour {
        height: 200px;
        margin-left: 0px;
    }

    .buttonFive {
        margin-bottom: 12.5px;
        margin-right: 0px;
        height: 200px;
    }

    .buttonSix {
        height: 200px;
        margin-bottom: 12.5px;
    }

    .buttonSeven {
        height: 200px;
        margin-bottom: 12.5px;
        margin-right: 0px;
    }

    .attr {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .socials {
        margin-top: 20px;
    }

    .filterContainer {
        margin-bottom: -35px;
    }

    .filterBar {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .filter {
        height: 25px;
        margin: 5px;
    }

    .programContainer {
        
        margin-left: 0px;
        width: 95%;
    }
    
    .progs {
        width: 95%;
    }

    .prog {
        padding-left: 50%;
        padding-right: 50%;
    }
}


/* Interactions */

/* LetterGrid */
.buttonOne:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonOne:hover .textContainer {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonOne .textContainer{
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonOne {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Speech Transcriber */
.buttonTwo:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonTwo:hover .textContainer {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonTwo .textContainer{
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonTwo {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Participatory Mapping */
.buttonThree:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonThree:hover .textContainer {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonThree .textContainer{
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonThree {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Drawing Tool */
.buttonFour:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonFour:hover .textContainer {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonFour .textContainer{
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonFour {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* SQL Notebooks */
.buttonFive:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonFive:hover .textContainerNB {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonFive .textContainerNB {
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonFive {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Sentiment Analysis */
.buttonSix:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonSix:hover .textContainerNB {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonSix .textContainerNB {
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonSix {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

/* Ambient Video Theater */
.buttonSeven:hover {
    cursor: pointer;
    animation-name: backgroundRepos;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonSeven:hover .textContainer {
    animation-name: hover;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    cursor: pointer;
}

.buttonSeven .textContainer {
    animation-name: shrink;
    animation-duration: 0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.buttonSeven {
    animation-name: backgroundPos;
    animation-duration: 0.0s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.aboutPortfolio:hover {
    cursor: pointer;
    background-color: rgba(52, 124, 218, 0.8);
}

.githubRedirectContainer:hover {
    cursor: pointer;
    background-color: rgba(52, 124, 218, 0.8);
}

/* Animations */
@keyframes hover {
    from {
        height: 33%;
        margin-top: 45%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    to {
        height: 100%;
        margin-top: 0%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}

@keyframes shrink {
    from {
        height: 66%;
        margin-top: 22.5%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    to {
        height: 33%;
        margin-top: 45%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@keyframes backgroundRepos {
    from {
        background-position-y: 12.5%;
    }
    to {
        background-position-y: 50%;
    }
}

@keyframes backgroundPos {
    from {
        background-position-y: 50%;
    }
    to {
        background-position-y: 12.5%;
    }
}

@keyframes aboutHover {
    from {
        width: 235px;
        height: 45px;
    }
    to {
        width: 240px;
        height: 50px;
    }
}

/* Scrollbar Styling */
.buttonContainer::-webkit-scrollbar {
    width: 12px;
}

.buttonContainer::-webkit-scrollbar-track {
    background: #001229;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.buttonContainer::-webkit-scrollbar-thumb {
    background: rgba(71, 114, 170, 0.6);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.buttonContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(71, 114, 170, 0.3);
    cursor: pointer;
}

/* Firefox Support*/
.custom-scrollbar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #4772AA #001229; /* Color of the thumb and track */
}

/* Edge Support */
@-ms-viewport {
    scrollbar-color: #4772AA #001229;
    scrollbar-width: thin;
}

/* Help menu */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

/* Help menu content */
.modalContent {
    display: none;
    background-color: rgb(5, 44, 94);
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    animation-name: slideIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
}

.modalContent.active {
    display: block;
}

.programContainer {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Scrollbar Styling */
.programContainer::-webkit-scrollbar {
    width: 12px;
}

.programContainer::-webkit-scrollbar-track {
    background: rgba(0, 35, 82, 0.9);
    border-radius: 15px;
}

.programContainer::-webkit-scrollbar-thumb {
    background: rgba(71, 114, 170, 0.6);
    border-radius: 15px;
}

.programContainer::-webkit-scrollbar-thumb:hover {
    background: rgba(71, 114, 170, 0.3);
    cursor: pointer;
}

.me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
    width: 87%;
}

.meContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/mecrop.png);
    background-position: 5% 65%;
    width: 100%;
    height: 75px;
    border-radius: 25px;
}

.mePic {
    height: 65px;
    width: 65px;
    border-radius: 25px;
    margin: 10px;
}

.meInfo {
    font-size: 21px;
    margin: 10px;
}

.progs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 12px;
}

.prog {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 99, 184, 0.5);
    padding: 25px 20px;
    margin: 2%;
    margin-top: 0%;
    margin-bottom: 4%;
    height: 200px;
    width: 35%;
    max-height: 200px;
    border-radius: 25px;
    font-size: 24px;
}

.progAbout {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-left: -12px;
    padding: 20px;
    position: fixed;
    background-color: rgb(5, 44, 94);
    width: 80%;
    height: 60%;
    max-width: 500px;
    max-height: 800px;
    border-radius: 25px;
    font-size: 24px;
    z-index: 3;
    font-size: 14px;
}

.progAbout.active {
    display: flex;
}

.prog:hover {
    background-color: rgba(34, 99, 184, 0.8);
    cursor: pointer;
}

.okButton, .okProg {
    background-color: rgba(34, 99, 184, 0.5);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.okButton:hover, .okProg:hover {
    background-color: rgba(34, 99, 184, 0.8);
    cursor: pointer;
}

.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px;
}

.circleButton, .squareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 7px;
}

.circleButton {
    border-radius: 25px;
    background-color: rgba(34, 99, 184, 0.3);
}

.circleButton.active {
    background-color: rgba(34, 99, 184, 1);
}

.squareButton {
    border-radius: 2px;
    background-color: rgba(34, 99, 184, 0.3);
}

.squareButton.active {
    background-color: rgba(34, 99, 184, 1);
}

.extraInfo {
    color: rgba(34, 99, 184, 1);
}

@keyframes slideIn {
    from { 
        top: -300px; opacity: 0;
    }
    to {
        top: 0; opacity: 1;
    }
}

@keyframes slideOut {
    from {
        top: 0; opacity: 1;
    }
    to {
        top: -300px; opacity: 0;
    }
}